@import '../../../styles/utils';
@import '../../../styles/base';

.banner {
    display: flex;
    justify-content: center;

    background-color: $color-brand-01;

    .text {
        color: $color-gs-white;
        font-family: $font-body;
        font-size: 12px;
        font-weight: 600;

        margin: 5px 0;
    }
}

.header {
    background-color: $color-gs-white;
    height: 83px;

    .container {
        display: flex;
        justify-content: space-between;

        height: 100%;

        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;

        .text {
            max-width: 134px;
            height: fit-content;

            margin: 0;
            margin-left: 15px;

            font-family: $font-heading;
            font-size: 19px;
            font-weight: bold;

            text-transform: uppercase;
        }
    }

    .navigation {
        display: flex;

        column-gap: 32px;
        .links {
            font-weight: 700;
        }
    }
}
