@import '../../../styles/utils';
@import '../../../styles/base';

.banner {
    display: flex;
    justify-content: center;

    background-color: $color-brand-01;

    .text {
        color: $color-gs-white;
        font-family: $font-body;
        font-size: 1.2rem;
        font-weight: 600;

        margin: 5px 0;
    }
}

.header {
    background-color: $color-gs-white;
    height: 83px;

    .container {
        display: flex;
        justify-content: space-between;

        height: 100%;

        align-items: center;
    }

    .logo {
        display: flex;
        align-items: center;

        .text {
            max-width: 134px;
            height: fit-content;

            margin: 0;
            margin-left: 1.5rem;

            font-family: $font-heading;
            font-size: 1.9rem;
            font-weight: bold;

            text-transform: uppercase;
        }
    }

    .navigation {
        display: flex;

        column-gap: 3.2rem;
        .links {
            font-weight: 700;
        }
    }

    .buttons {
        :first-child {
            margin-right: 1.6rem;
        }
    }

    @include bp-down($bp-md) {
        .navigation {
            display: none;
        }

        .buttons {
            display: none;
        }
    }
}
