@import '../../../styles/_base';
@import '../../../styles/_utils';

.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    @include bp-down($bp-sm) {
        grid-template-columns: 1fr;
    }

    &-wrapper {
        width: 100%;
    }

    &-header {
        text-align: center;

        h2 {
            margin: 0 0 2rem 0;
        }
    }

    &-description {
        width: 100%;
        max-width: 50rem;
        margin: 2rem auto 3rem auto;
        font-family: $font-body;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    &-cta {
        margin-top: 5rem;
        text-align: center;
    }
}

// Below styles are for mobile slider
.profile-list-slider {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: hidden;

    @include bp-down($bp-md) {
        overflow-x: scroll;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            height: 6px;
        }
        &::-webkit-scrollbar-track {
            border-radius: 6px;
            background-color: $color-gs-04;
            border: 1px solid $color-gs-03;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 6px;
            background-color: $color-gs-03;
            border: 1px solid $color-gs-02;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-gs-05;
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: $color-gs-03;
        }
    }

    li {
        width: 33.33%;
        flex-shrink: 0;

        @include bp-down($bp-md) {
            width: 20rem;
        }
    }
}
