@import "../../styles/_base";
@import "../../styles/_utils";

.contact-form {

    &-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 73rem;
    }

    &-heading {
        max-width: 80%;
        color: $color-brand-01;
        margin: 0 0 3rem 0;

        span {
            color: $color-brand-02;
        }
    }

    &-misc {
        margin: 0rem 0 6rem 0;
        color: $color-gs-02;
        font-size: 1.6rem;

        a {
            color: $color-brand-02;
            text-decoration: underline;
        }
    }

}

.form {
    &-section {
        margin: 0 0 4rem 0;
        padding: 0;
        border: none;
        color: $color-brand-01;

        &:last-child {
            margin-bottom: 0;
        }

        &-heading {
            margin: 0 0 1rem 0;
            padding: 0;
            font-size: 2.4rem;
            font-weight: 700;
            font-family: $font-heading;
            color: inherit;
        }
    }

    &-row {
        padding: 1rem 0;
        display: flex;
        gap: 3rem;
        font-size: 1.6rem;
        font-family: $font-body;

        @include bp-down($bp-sm) {
            flex-direction: column;
        }
    }
    &-col {
        width: 100%;
        font-size: inherit;
    }

    &-label {
        padding: 1rem 0;
        display: block;
        color: $color-brand-01;
        font-size: inherit;
        font-weight: 600;
        font-family: inherit;
    }

    &-input-text,
    &-textarea {
        padding: 1rem;
        width: 100%;
        font-size: inherit;
        font-family: inherit;
        background-color: $color-gs-white;
        border: 1px solid $color-gs-04;
        border-radius: 5px;
        input {
            height: auto;
            font-size: 1.6rem;
        }
        input::placeholder {
            font-size: inherit;
            font-family: inherit;
            color: $color-gs-01;
        }
        * {
            font-size: 1.6rem !important;
        }
    }
    &-input-text::before {
        border: none !important;
    }
    &-radio-label {
    }
    &-radio-program {
        padding: 1.5rem 2rem;
        text-align: center;
        color: $color-gs-white;
        font-family: $font-heading;
        font-weight: 700;
        //background: $color-brand-02;
        color: $color-brand-02;
        background: transparent;
        border: 2px solid $color-brand-02;
        border-radius: 4px;
        transition: all 0.4s ease;

        &.is-checked {
            color: $color-gs-white;
            background: $color-brand-02;
        }
    }
    &-radio-program-group {
        width: 100%;
        display: flex;
        flex-wrap: nowrap !important;
        flex-direction: row;
        gap: 3rem;

        @include bp-down($bp-sm) {
            gap: 1rem;
            flex-direction: column !important;
        }

        > label {
            width: 100%;
            margin: 0;
            span {
                width: 100%;
                color: $color-brand-01;
                font-size: inherit;
                font-family: inherit;
            }
        }
    }
    &-radio-group {
        input + div {
            color: $color-brand-02;
        }
        > label {
            margin-right: 3.5rem;
            span {
                color: $color-brand-01;
                font-size: inherit;
                font-family: inherit;
            }
        }
    }
}


