@import '../../../styles/_base';
@import '../../../styles/_utils';

.text-block {
    $this: &;
    &-wrapper {

        margin: 0 auto;
        text-align: center;
        color: $color-gs-01;

        &.darkBg {
            color: $color-gs-white;

            #{$this}-heading {
                color: $color-gs-white;
            }
        }
    }
    &-heading {
        margin-bottom: 0;
        color: $color-brand-01;
    }
    &-icon {
        color: $color-brand-03;
    }

    &-content {
        margin-top: 2rem;
        font-family: $font-body;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: inherit;

        p {
            margin: 0 0 1.5rem 0;

            &:last-child {
                margin: 0;
            }
        }
    }
}
