@import "../../../styles/_base";
@import "../../../styles/_utils";

.text-image-card {
    &--reverse {
        flex-direction: row-reverse;
    }
    &--vcentre {
        align-items: center;
    }

    &-wrapper {
        padding: 0;
        margin: 0 auto;
        width: 100%;
        max-width: 111rem;
        display: block;

        @include bp-up($bp-md) {
            display: flex;
            align-items: top;
            justify-content: space-between;
        }
    }
    &-col-img {
        width: 100%;
        //flex-basis: 0;
        //flex-grow: 1;
        //position: relative;
        //z-index: $level-base;

        @include bp-up($bp-md) {
            width: 50%;
        }
    }
    &-col-txt {
        width: 100%;

        @include bp-up($bp-md) {
            width: 50%;
            max-width: 42%;
            font-size: 1.6rem;
            line-height: 2.4rem;
        }

        &-heading {
        }
        &-preheading {
            color: $color-brand-02;
        }

        p {
            font-size: 1.6rem;
            line-height: 2.4rem;
        }
    }
}

