@import "../../styles/_base";
@import "../../styles/_utils";

.program-detail-tiles {
    display: flex;
    gap: 2rem;

    @include bp-down($bp-md) {
        flex-direction: column;
        text-align: center;
    }

    &-heading {
        @include bp-down($bp-sm) {
            text-align: center;
        }
    }

    &-wrapper {
    }
}

.program-detail {
    &-date-tile {
        padding: 2rem;
        flex-basis: 0;
        flex-grow: 1;
        font-size: 1.6rem;
        background-color: $color-gs-white;
        box-shadow: 0px 4px 16px 0px $color-gs-04;

        h3 {
            margin: 1rem 0 0 0;
        }

        &-icon {
            font-size: 40px;
            &-mui {
                color: $color-brand-02;
                font-size: 40px;
            }
        }

        &-block {
            margin-top: 2rem;
            padding: 1.5rem;
            font-size: 1.6rem;
            flex-basis: 0;
            flex-grow: 1;
            border-radius: 4px;
            background-color: $color-gs-06;

            &-group {
                display: flex;
                gap: 2rem;

                @include bp-down($bp-sm) {
                    flex-direction: column;
                    gap: 0;
                }
            }

            h5 {
                margin: 0;
            }

            p {
                margin: 1rem 0 0 0;
            }
        }

        &-info {
            color: $color-gs-02;
            font-family: $font-body;
            font-size: 1.2rem;
            line-height: 2rem;
        }
    }

    &-misc-info {
        margin: 3rem auto 0 auto;
        width: 100%;
        text-align: center;
        max-width: 68rem;
        color: $color-gs-02;
        font-family: $font-body;
        font-size: 1.2rem;
        line-height: 2rem;
    }

    &-venue-tile {
        padding: 2rem;
        flex-basis: 0;
        flex-grow: 1;
        background-color: $color-gs-white;
        box-shadow: 0px 4px 16px 0px $color-gs-04;
    }


}

