@import "../../../styles/_utils";

.card-content {
  display: block;
  margin: 0;
  padding: 2.5rem;

  @include bp-up($bp-md) {
    padding: 3.2rem;

    &--spaced {
      padding: 5.5rem;
    }

    &--compact {
      padding: 2.5rem;
    }
  }
}
