@import "_utils";

.card-content {
    display: block;
    margin: 0;
    padding: 2.5rem;

    @include bp-up($bp-md) {
        padding: 3.2rem;

        &--spaced {
            padding: 5.5rem;
        }

        &--compact {
            padding: 2.5rem;
        }
    }
    @include bp-down($bp-sm) {
        padding: 1.5rem;
    }
    p:last-child {
        margin-bottom: 0;
    }
}
