@import '../../../styles/_base';
@import '../../../styles/_utils';

.faq-accordion {
    &-wrapper {
        width: 100%;
        display: flex;
        gap: 2rem;

        @include bp-down($bp-md) {
            display: block;
        }
    }
    &-side {
        h2 {
            margin-bottom: 3rem;
            color: $color-gs-white;
        }
    }
    &-list {
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    &-list-item {
        margin: 0 0 20px 0;
        border-radius: 6px;
        border: 1px solid #dedede;
        background-color: $color-gs-white;

        &:last-child {
            margin: 0;
        }
    }
    &-list-item-heading {
        display: flex;
        padding: 2.5rem 3rem;
        justify-content: space-between;
        cursor: pointer;
        align-items: center;

        @include bp-down($bp-sm) {
            padding: 1rem 1.5rem;
        }

        h5 {
            margin: 0;
            color: $color-brand-01;
            font-size: 1.6rem;

            @include bp-down($bp-sm) {
                font-size: 1.4rem;
            }
        }
    }
    &-list-item-content {
        display: none;
        padding: 0 2rem 2rem 2rem;
        line-height: 2.4rem;
        font-size: 1.6rem;

        &.active {
            display: block;
        }
        @include bp-down($bp-sm) {
            font-size: 1.3rem;
        }

        ul {
            margin: 0;
            padding: 0;
        }
        ul li {
            margin: 0 0 2rem 2.2rem;
            line-height: 1.5em;
        }
    }
}
