@import '../../../styles/utils';
@import '../../../styles/base';

.page-footer {
    margin: 0 auto;
    width: 100%;
    max-width: $site-max-width;
    display: flex;
    justify-content: space-between;

    &-wrapper {
        font-family: $font-body;
        background-color: $color-brand-01;
    }

    &-top {
        padding: 2rem $site-mobile-padding;
    }

    &-logo-text {
        margin-top: 1.5rem;
        font-family: $font-heading;
        font-weight: 700;
        font-size: 2rem;
        color: $color-gs-white;

        span {
            display: block;
            font-weight: 500;
            font-size: 1.6rem;
            letter-spacing: -2.2%;
            color: $color-gs-white;
        }
    }

    &-btm {
        padding: 2rem $site-mobile-padding;
        font-size: 1.2rem;
        color: $color-gs-04;
        background-color: $color-brand-05;;

        a {
            text-decoration: underline;
        }
    }
}



.subscription {
    color: $color-gs-white;

    width: 400px;

    .input {
        width: 100%;
        padding: 1.3rem 1.6rem;

        border-radius: 4px;
    }

    .button {
        border-radius: 4px;
        margin-top: 1.9rem;
        width: 100%;
        padding: 0.9rem;

        background-color: transparent;
        border: 2px solid $color-gs-white;
        color: $color-gs-white;

        font-weight: 700;

        cursor: pointer;

        &:hover {
            background-color: $color-gs-white;
            color: $color-brand-01;
            transition: all 0.3s ease-in-out;
        }
    }
}

.footer--end {
    background: #1f265e;
    color: $color-gs-02;

    height: 65px;

    .footer--end--inner {
        height: 100%;

        max-width: $site-max-width;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;
    }
}
