@import '../../styles/_base';
@import '../../styles/_utils';

.contact-form {
    &-wrapper {
    }

    &-heading {
        color: $color-brand-01;
        margin: 0;
    }

    &-row {
        padding: 1rem 0;
    }

    &-label {
        padding: 1rem 0;
        display: block;
        color: inherit;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: $font-body;
    }

    &-error {
        font-size: 1.2rem;
        color: $color-status-alert;
    }

    input[type='text'],
    input[type='email'],
    select,
    textarea {
        padding: 1.2rem 1rem;
        width: 100%;
        font-size: 1.6rem;
        font-family: $font-body;
        background-color: $color-gs-white;
        border: 1px solid $color-gs-04;
        border-radius: 5px;

        &::placeholder {
            color: $color-gs-03;
        }
    }

    &-input-error {
        border: 1px solid $color-status-alert !important;
    }

    textarea {
        min-height: 20rem;
    }
}
