@import "../../styles/_base";
@import "../../styles/_utils";

.blog-post-card {
    &-wrapper {
        border: 1px solid #f30;
    }

    &-image {
    }

    &-detail {
    }

    &-name {
        margin: 0;
        font-size: 2rem;
        font-weight: 700;
        color: $color-brand-01;
        line-height: 2.8rem;
    }

    &-description {
        padding: 1.5rem 0 0 0;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-gs-01;
    }
}

