@import "../../styles/_base";
@import "../../styles/_utils";

.text-tile-blocks {
    &-wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }

    &-offset {
        position: relative;
        top: -8rem;
    }
}

.text-tile-block {
    &-wrapper {
        padding: 2.5rem;
        flex-grow: 1;
        flex-basis: 0;
        background-color: $color-gs-white;
        box-shadow: 0 1px 5px $color-gs-04;
        border-radius: 4px;
    }

    &-heading {
        margin: 0 0 1.5rem 0;
        font-family: $font-heading;
        color: $color-brand-02;
    }

    &-content {
        font-family: $font-body;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.4rem;
        color: $color-gs-01;
    }
}


