@import "../../styles/_base";
@import "../../styles/_utils";

.usp-banner {
    &-wrapper {
        padding: 1rem 0;
        margin: 0 auto;
        width: 100%;
        max-width: $site-max-width;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border-radius: 4px;
        background-color: $color-gs-white;
        box-shadow: 0px 4px 16px 0px $color-gs-04;
    }
}

