@import "../../../styles/_base";
@import "../../../styles/_utils";

.sponsor-block {
    &-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 111rem;
        display: block;
        text-align: center;

        img {
            margin: 5px;
        }
    }

    &-tier {
        display: flex;
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: center;

        &-silver {
            > div {
                max-width: 25rem;
            }
        }
        &-bronze {
            > div {
                max-width: 12rem;
            }
        }
    }

    &-image-wrapper {
        margin: 1rem;
        width: 300px;
        height: 150px;
        position: relative;
        z-index: $level-base;
    }

    &-cta-group {
        margin-top: 5rem;
    }

    &-button {
        margin: 1rem;

        @include bp-down($bp-sm) {
            margin: 1rem 0;
            width: 100%;
        }
    }
}

