@import "../../styles/_base";
@import "../../styles/_utils";

.program-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 15px;

    @include bp-down($bp-sm) {
        grid-template-columns: 1fr;
    }

    &-wrapper {
        width: 100%;
    }

    &-cta {
        margin-top: 5rem;
        text-align: center;
    }
}

