@import "../../../styles/_base";
@import "../../../styles/_utils";

.link-group {
    &-wrapper {
    }

    &-header {
        margin-bottom: 4rem;
        text-align: center;
    }

    &-main {
        margin: 0 auto;
        width: 100%;
        max-width: $site-max-width;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.link-block {
    &-wrapper {
        padding: 1.5rem 2rem;
        min-width: 30rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: $font-heading;
        line-height: 1.4em;
        color: $color-brand-01;
        white-space: nowrap;
        background-color: $color-gs-white;
        border-radius: 4px;
        transition: all 0.4s ease;
        box-shadow: 0px 4px 16px 0px $color-gs-04;

        @include bp-down($bp-md) {
            min-width: 20rem;
        }

        &:hover {
            color: $color-gs-white;
            background-color: $color-brand-02;
        }
    }
}

