@import "../../../styles/_base";
@import "../../../styles/_utils";

.link-group-blocks {
    &-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: $site-max-width;
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        &.alternative {
            .link-group-block-item-wrapper {
                color: $color-gs-white;
            }
        }
    }

}

.link-group-block-item {
    &-wrapper {
        flex-basis: 0;
        flex-grow: 1;
        color: $color-brand-01;
    }

    &-icon {
        font-size: 1.6rem;

        span {
            font-size: 3.3rem;
        }
    }

    &-heading {
        margin-top: 2rem;
        margin-bottom: 0;
        color: inherit;
        font-family: $font-heading;
        line-height: 1.2em;
        font-size: 2.4rem;
        font-weight: 700;
    }

    &-content {
        max-width: 22rem;
        margin-top: 2rem;
        margin-bottom: 0;
        color: inherit;
        font-size: 1.6rem;
        font-family: $font-body;
        line-height: 1.5em;
    }

    &-link {
        margin-top: 1rem;
        margin-bottom: 0;
        display: inline-block;
        color: $color-brand-02;
        text-decoration: underline;
        font-family: $font-body;
        font-size: 1.6rem;
        font-weight: 600;
    }
}

